{% extends 'library_base.html' %}

{% block title %}MicroLibrary{% endblock %}

{% block content%}
    <div class="container">
    <h3 class="page-header">Books I've recently read or currently reading:</h3>
    <ul>
    {% if not books %}
        <h3>No entries yet, go ahead and <a href="{{ url_for('library_add_book') }}">add</a> some</h3>
    {% else %}
        {% for book in books %}
            <li>
            <div>
                <p>{{ book.title }}
                {% if book.authors.all() %}
                    <b>written by</b>
                    {% for author in book.authors.all() %}
                        {{ author }}{% if not loop.last %},{% else %}.{% endif %}
                    {% endfor %}
                {% endif %}
                {% if current_user.is_authenticated() %}
                    <a href="{{ url_for('library_edit_book', book_id=book.id) }}">Edit</a>
                    <a href="{{ url_for('library_delete_book', book_id=book.id) }}">Delete</a>
                {% endif %}
                </p>
            </div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}