{% extends 'library_base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="page-header">Register a new user:</h1>
        <form class="form-horizontal" action="{{ url_for('library_register') }}" method="post" name="register">
            {{ form.hidden_tag() }}
            <p class="text-left">
                Please, enter Ur username:<br>
                {{ form.username(size=20) }}<br>
                {% for error in form.errors.username %}
                    <span class="alert-warning">[[{{ error }}]]</span>
                {% endfor %}<br>
                Password:<br>
                {{ form.password }}<br>
                {% for error in form.errors.password %}
                    <span class="alert-warning">[[{{ error }}]]</span>
                {% endfor %}<br>
                Reenter password:<br>
                {{ form.pass_reenter }}<br>
                {% for error in form.errors.pass_reenter %}
                    <span class="alert-warning">[[{{ error }}]]</span>
                {% endfor %}<br>
            </p>
            <p><input style="padding: 2px 4px" class="btn btn-mini btn-success" type="submit" value="Register"/></p>
        </form>
    </div>
{% endblock %}