{% extends 'library_base.html' %}
{% block title %}Add a new author{% endblock %}
{% block content %}
    <div class="container">
    <h1 class="page-header">{% block page_header %}Add a new author{% endblock %}</h1>
    <form class="form-horizontal" action="" method="post" name="add_author">
        {{ form.hidden_tag() }}
        <p class="text-left">
            Enter the author's name:
            {{ form.name(size=50) }}<br>
            {% for error in form.errors.name %}
                <span class="alert-warning">[[{{ error }}]]</span>
            {% endfor %}<br>
        </p>
        <p><input style="padding: 2px 4px" class="btn btn-mini btn-success" type="submit"
                  value="{% block submit_value %}Add author{% endblock %}"/></p>
    </form>
    </div>
{% endblock %}